* {
  font-family: 'Courier New', Courier, monospace;
}

.eth-image {
  height: 25px;
  vertical-align: middle;
}

.balance {
  text-align: center;
}

.balance-amount {
  vertical-align: middle;
  margin-left: 5px;
}

.wallet-address {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: small;
  margin-left: 5px;
}

.wallet-address-span {
  cursor: pointer;
}

.send-image {
  height: 25px;
  vertical-align: middle;
}

.center-div {
  text-align: center;
  position: relative;
}

.dropbtn {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.input {
  padding: 15px;
  text-align: center;
  margin-top: 10px;
}

.confirm-button {
  margin-left: 10px;
  padding: 15.5px;
  cursor: pointer;
  color: white;
  background-color: black;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.confirm-button:hover {
  background-color: white;
  color: black;
}

.x {
  position: absolute;
  top: 0;
  margin-top: 5.5px;
  margin-left: 30px;
  font-size: large;
  cursor: pointer;
}

.balance-USD {
  font-size: small;
}

input:focus {
  outline: none;
}

::selection {
  background: grey;
}

.typewriter {
  font-size: 60px;
  text-align: center;
  margin-top: 25px;
}

.typewriter-second {
  font-size: 50px;
  justify-content: center;
  display: flex;
}

.homepage-picture {
  max-height: 35vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.buttons-div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 65px;
}

.homepage-button {
  padding: 15.5px;
  cursor: pointer;
  color: white;
  background-color: black;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.homepage-button:hover {
  background-color: white;
  color: black;
}

.continue-button {
  margin-top: 25px;
  padding: 15.5px;
  cursor: pointer;
  color: white;
  background-color: black;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.intro-div {
  margin-bottom: 25px;
}

.create-wallet-image {
  height: 40vw;
  margin-top: 25px;
}

.continue-button:hover {
  background-color: white;
  color: black;
}

.container-div {
  text-align: center;
  margin-top: 25px;
}

.security-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.security-div {
  text-align: center;
  margin-top: 25px;
}

.security-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 15.5px;
  cursor: pointer;
  color: white;
  background-color: black;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.security-button:hover {
  background-color: white;
  color: black;
}

@media (max-width: 500px) {
  .create-wallet-image {
    height: 65vw;
    margin-top: 25px;
  }

  .security-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 85vw;
  }

  .homepage-picture {
    max-height: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
}
